body {
  min-height: 2000px;

  background-image: linear-gradient(lavender, ivory, aliceblue);
}

.container {
  padding-top: 10%;
}

.profile {
  width: 200px;
}

.bi {
  font-size: 2rem;
}

.row {
  padding: 4rem 0;
}

.col-info {
  padding-top: 2rem;
}

hr {
  border: 3px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.display-2 {
  font-weight: 500;
}

.whatsapp {
  color: #50cc5d;
}

.linkedin {
  color: #0a66c2;
}

.twitter {
  color: #1d9bf0;
}

.pd li {
  list-style-type: none;
  /* padding-bottom: 3rem; */
  position: relative;
  box-sizing: border-box;
  font-size: 2rem;
}

.pd li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: -22px;
  background-color: gray;
  margin-top: 20px;
}

ul li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  border-radius: 50%;
  background-color: blue;
  top: 9px;
  filter: drop-shadow(0 0 0.25rem gray);
}

dt {
  font-size: 2rem;
  color: orange;
  position: relative;
  padding-left: 20px;
}

dt::before {
  content: "";
  width: 10px;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: lightgray;
  opacity: 75%;
}

dd {
  font-size: 1.5rem;
  color: gray;
}

dl p {
  text-align: justify;
  line-height: 30px;
  font-size: 1.2rem;
}

.bi-pencil {
  position: relative;
  right: 15px;
}

.bi-screwdriver {
  position: relative;
  left: 20px;
}

ol {
  list-style-type: decimal-leading-zero;
}

ol li {
  padding-bottom: 2rem;
}

ol li {
  position: relative;
  padding-left: 10px;
}

ol li::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 50px;
  background-color: blueviolet;
  z-index: -1;
  left: -36px;
  top: -5px;
  border-radius: 20px;
}
