body {
  min-height: 1500px;
}

.container {
  padding-top: 10%;
}

.profile {
  width: 200px;
}

.bi {
  font-size: 2rem;
}

.row {
  padding: 4rem 0;
}

.col-info {
  padding-top: 2rem;
}

hr {
  border: 3px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.display-2 {
  font-weight: 500;
}

.whatsapp {
  color: #50cc5d;
}

.linkedin {
  color: #0a66c2;
}

.twitter {
  color: #1d9bf0;
}

ul li {
  list-style-type: none;
  padding-bottom: 1rem;
  position: relative;
  box-sizing: border-box;
  font-size: 2rem;
}

ul li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: -21px;
  background-color: gray;
  margin-top: 20px;
}

ul li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  border-radius: 50%;
  background-color: blue;
  top: 15px;
  filter: drop-shadow(0 0 0.25rem gray);
}
